branch                       = "main"
configure_policy_set         = false
oauth_name                   = "vmp-github"
organization                 = "abc-vmp"
sentinel_branch              = "main"
sentinel_vcs_repo_identifier = ""
terraform_server             = "app.terraform.io"
vcs_repo_identifier          = "abuxton/tfx-vmp"
